* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.home-page {
    width: 100%;
    background-image: url(img/hero-bg\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    height: auto;
    min-height: 770px;

}


.logo {
    text-decoration: none !important;
    color: #fff !important;
    font-size: xx-large;
    font-family: 'Pacifico', cursive;
}

.navpar {
    padding: 10px 80px !important;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.list {
    margin-left: 70px !important;
}

.list li a {
    transition: 0.4s;
}

.list li a.active {
    color: gold !important;
}

.list li a:hover {
    color: gold !important;
}


.dropdown{
    display: flex;
    flex-direction: column;
    display: none;
}
.dropdown label{
cursor: pointer;
}
.dropdown .linkaandicons{
    gap: 20px;
    display: flex;
    flex-direction: column;
    display: none;
    width: 330px;
    height: 400px;


}
#toggleMenu:checked ~ .linkaandicons{
    display: flex;
}


.listt ul{
    display: flex !important;
    flex-direction: column !important;
    height: auto;
    background-color: transparent !important;
    align-items: center;
}

.linkaandicons .icons{
    display: flex;
    /* background-color: blue !important; */

}
@media (max-width:600px) {
    .dropdown{
        display:flex ;
        align-items: center;
        gap: 50px;
    }
    .i{
        position: absolute;
        right: 0;
        top: -5px;
    }


    .navpar{
        display: flex;
    }
    .linkaandicons{
    }
    .linkaandicons .icons{
        display: flex !important;
    }
    
}


.my-carousel {
    height: 450px;
    position: absolute;
    padding: 40px 160px !important;
    top: 10%;
    letter-spacing: .1px !important;
    word-spacing: .1px !important;
    color: #fff !important;
    min-width: 100%;
}

.my-carousel h1 {
    font-family: 'Pacifico', cursive;
    margin-bottom: 15px;
}

.my-carousel p {
    font-size: 15px;
}

.my-carousel .cycle {
    width: 12px !important;
    height: 12px !important;
    border-radius: 50% !important;
    background-color: #fff !important;
}

.my-carousel .cycle.active {
    width: 20px !important;
    height: 20px !important;
    background-color: rgb(236, 181, 0) !important;
}

.my-carousel .cycles {
    display: flex;
    align-items: center;
    justify-self: start;
    margin-left: 160px;
}


.navpar .icons {
    /* d-flex gap-3 align-items-center */
    display: flex;
    align-items: center;
    gap: 20px;
}

.icons i {
    cursor: pointer;
    font-size: larger;
    transition: .4s;


}

.icons i:hover {
    color: gold !important;
}

.btn {
    transition: .3s;
    border: none;
}

button:hover {
    background-color: rgb(212, 152, 1) !important;
}

.sec2 {
    padding: 0 80px !important;
    font-family: 'Pacifico', cursive;

}

.sec2 .card img {
    transition: .2s;
    width: 170px;
    height: 170px;
    border-radius: 50%;
}

.sec2 .card .img {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 170px;
    height: 170px;
    border-radius: 50% !important;
    border: gold 5px solid !important;
}

.sec2 .card {
    min-width: 300px;
    display: flex;
    gap: 15px;
    flex-direction: row;
    align-items: center;
    margin: auto;
}

.sec2 .card .card-body {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #fff !important;
}

.sec2 .card:hover img {
    transform: scale(1.1);
}

@media (max-width: 600px) {


    .sec2 {
        padding: 20px !important;
        margin: 0;
    }

    .sec2 .card {
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100% !important;
        max-width: 350px;
        margin: auto;
    }

    .sec2 .card .img {
        width: 120px;
        height: 120px;
        border-radius: 50%;
    }

    .sec2 .card img {
        width: 120px;
        height: 120px;
        border-radius: 50%;
    }

    /* .btn {
        width: 100%;
        max-width: 200px;
        margin: 10px auto 0;
    } */

    .navpar {
        padding: 10px 20px !important;
    }

    .list {
        display: none;
    }

    .navbar-nav {
        gap: 10px;
        flex-direction: column;
        background: rgba(0, 0, 0, 0.7);
        padding: 10px;
        border-radius: 10px;
    }

    .navpar .icons {
        display: none;
    }

    .my-carousel {
        padding: 20px !important;
        top: 5%;
        /* text-align: center; */
        gap: 10px;
        font-size: x-large !important;
        padding-bottom: 0 !important;
    }

    .my-carousel h1 {
        font-size: 45px;
    }

    .my-carousel p {
        font-size: 18px;
        line-height: 20px;
    }

    .my-carousel button {
        width: 130px;
        height: 35px;
        font-size: 14px;
    }

    .my-carousel .cycles {
        margin-left: 20px;
        justify-content: center;
        margin-top: 10px;
    }
}

.sec3 {
    height: 730px;
    background-color: chocolate !important;
}

.sec3 .div3 {
    padding: 0 140px;
    gap: 90px;
    align-items: center;
    height: 100%;
}

.WeAreFeane {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}

.div3 .WeAreFeane h3 {
    font-family: 'Pacifico', cursive;
}

footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 64px 0;
}

footer .lastdiv {
    text-align: center;
}

footer .footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    text-align: center;
    padding: 0 90px;
}

.footer h3 {
    font-family: 'Pacifico', cursive;
}

a {
    text-decoration: none !important;
    color: #fff !important;
}

footer .footer .div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.s a {
    transition: .2s;
}

.s a:hover {
    color: gold !important;
}

.iconsinfooter {
    font-size: 30px;
}

.iconsinfooter i {
    transition: .2s;
}

.iconsinfooter i:hover {
    color: gold !important;
}

/* //////////////////////////////////////////////////////////////// */
.sec4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 40px;
    margin-bottom: 100px;
}

.sec4 .div {
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 0 50px;
}

.sec4 h2 {
    margin-bottom: 15px;
    font-family: 'Pacifico', cursive;
}

.sec4 ul li {
    list-style: none;
    cursor: pointer;

}

.sec4 ul {
    gap: 30px;
    padding: 0;
    list-style: none;
    display: flex;
}

.sec4 ul li button {
    background-color: transparent;
    color: black;
    border: none;
    padding: 8px 20px;
    border-radius: 20px;
    transition: 0.2s;
}

.sec4 ul li button.active {
    background-color: gold !important;
    color: white !important;
}

.sec4 ul li button:hover:not(.active) {
    color: black !important;
}

.sec4 ul li button:hover:not(.active) {
    background-color: inherit !important;
    color: inherit !important;
}

.sec4 .btn {
    background-color: gold !important;
    color: #fff !important;
    font-family: 'Pacifico', cursive;
    margin-top: 20px;
}

.btn {
    transition: .3s;
    border: none;
    font-family: 'Pacifico', cursive !important;
    height: 40px;
    width: 160px;
}

button.btn:hover {
    background-color: rgb(212, 152, 1) !important;
}

.food-items .card-body {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 20px 30px;
}

.food-items .card-body .btnandicon {
    display: flex;
    justify-content: space-between;
}

.food-items .card-body .btnandicon .i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: gold !important;
    font-size: large;
    cursor: pointer;
}

.food-items .items {
    gap: 30px;
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: center;
}

.food-items .img {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 0 40px;
    background-color: #eee !important;
}

.food-items .img img {
    transition: .3s;
}

.food-items .card:hover img {
    transform: scale(1.1);
}

.food-items .card {
    border-radius: 10px;
}




@media (max-width: 600px) {


    .sec2 {
        padding: 20px !important;
        margin: 0;
    }

    .sec2 .card {
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100% !important;
        max-width: 350px;
        margin: auto;
    }

    .sec2 .card .img {
        width: 120px;
        height: 120px;
        border-radius: 50%;
    }

    .sec2 .card img {
        width: 120px;
        height: 120px;
        border-radius: 50%;
    }

    /* .btn {
        width: 100%;
        max-width: 200px;
        margin: 10px auto 0;
    } */

    .navpar {
        padding: 10px 20px !important;
    }

    .list {
        display: none;
    }

    .navbar-nav {
        gap: 10px;
        flex-direction: column;
        background: rgba(0, 0, 0, 0.7);
        padding: 10px;
        border-radius: 10px;
    }

    .navpar .icons {
        display: none;
    }

    .my-carousel {
        padding: 20px !important;
        top: 5%;
        /* text-align: center; */
        gap: 10px;
        font-size: x-large !important;
        padding-bottom: 0 !important;
    }

    .my-carousel h1 {
        font-size: 45px;
    }

    .my-carousel p {
        font-size: 18px;
        line-height: 20px;
    }

    .my-carousel button {
        width: 130px;
        height: 35px;
        font-size: 14px;
    }

    .my-carousel .cycles {
        margin-left: 20px;
        justify-content: center;
        margin-top: 10px;
    }


    .sec4 ul {
        gap: 10px;
        flex-wrap: wrap;
        width: 360px;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .sec3 {
        height: 960px;

    }

    .sec3 .img {
        order: 2;
        margin-top: 60px;
    }

    .sec3 .div {
        order: 1;
    }

    .sec4 .food-items {
        flex-direction: column;
        align-items: center;
        width: 400px;
    }

    .sec4 .card {
        width: 100%;
        max-width: 100%;
    }

    footer .footer {
        grid-template-columns: 1fr;
        gap: 50px;
        align-items: center;
        justify-content: center;
    }

    footer .footer .div {
        width: 95vw;
    }

}


/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.sec5 {
    margin: 100px 0;
}

.sec5 h2 {
    font-family: 'Pacifico', cursive !important;
}

.sec5 .map {
    height: 300px;
    overflow: hidden;
    border-radius: 20px;
}

.sec5 .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.btn {
    transition: .3s;
    border: none;
    font-family: 'Pacifico', cursive !important;
    height: 40px;
    width: 160px;
}

button.btn:hover {
    background-color: rgb(212, 152, 1) !important;
}

.form .frm {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.frm input,
select {
    height: 50px;
    padding-left: 20px;

    border: 1px solid #d9d6d6;
    outline: none;
    border-radius: 6px;
}

select:focus {
    outline: none !important;
    box-shadow: none !important;
    border: 1px solid #d9d6d6 !important;
}